flask==2.3.3
flask-cors
pymongo==4.5.0
python-dotenv==1.0.0
gunicorn
flask_session
groq
chromadb
langchain==0.0.267
dotenv
langchain-community
sentence-transformers
torch
transformers
redis
python-jose
bcrypt
requests
