flask
flask-cors
pymongo
python-dotenv
gunicorn
flask_session
groq
chromadb
langchain
dotenv
langchain-community
sentence-transformers
torch
transformers
bcrypt
requests
groq
chromadb
langchain-community
langchain_huggingface
flask-socketio
firebase-admin
